{
margin: 0;
padding: 0;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: cornflowerblue;
padding: 15px;
}
h1{
font-size: 25px;
color: black;
}
nav{
padding: 10px;
}
a{
text-decoration: none;
font-size: 20px;
color: black;
padding: 10px;
}
section{
    flex-direction: column;
}
.cartao{
    width: 260px;
    height: 200px;
}
.cartao-frente{
background-color: blue;
position: absolute;
border-radius: solid 12px;
border: solid 5px grey;
}
.cartao-verso{
background-color: red;
position: absolute;
border-radius: 12px;
border: solid 5px grey;
}
